/* Nav bar design start */
.header a{
    text-decoration: none;
    margin: 10px 20px;
}
.header a:hover{
    color: tomato;
}


/* header info design start */
.header-info{
    border: 1px solid tomato;
    width: 40%;
    margin:20px auto;
    border-radius: 10px;
    transition: 0.5s;
}
.header-info:hover{
    box-shadow: 1px 1px 15px rgb(199, 199, 199);
}